# Python
*.py[cod]
__pycache__/
*.so
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/

# Environment
.env
.env.local
docs/LOCAL_SETUP.md

# Django
db.sqlite3
staticfiles/
media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule
celerybeat.pid
/TEST_IMAGES
